<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Rap Roulette | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/raproulette.css" />
  
</head>
<body>
  <div id="navbar-wrapper">
    <div id="navbar">
      <a href="/"><img src="/images/logo.png" /></a>
      <a href="#logout">
        <img src="http://dummyimage.com/25x25" />
        Raj Vir
      </a>
    </div>
  </div>
  <%- body %>
  
</body>
</html>