<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Rap Roulette | <%= title %></title>
  <style type="text/css">
	body {
		margin: 0;
		height:100%;
	}
  </style>
</head>
<body>
  <%- body %>
</body>
</html>
