<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{* available variables: $menu an array of menu items $menu[]['name']
															['url']
															['children']=Array();
						$fullcont The main content area
						$scripts Array of javascript paths
						$page_title
						$custom_styles 

*}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{foreach from=$styles item=a}
		<link rel='stylesheet' type='text/css' href='{$a}' />
		{/foreach}
	<link rel="stylesheet" type="text/css" href="{$ubase}smarty/templates/default/adminstyles.css" />
	<link rel="shortcut icon" href="{$ubase}favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$ubase}favicon.ico" type="image/x-icon"> 

<title>{$page_title}</title>

<script type='text/javascript' src='{$ubase}csincl/js/jquery.js'></script>
{section name=i loop=$scripts}
<script type='text/javascript' src='{$scripts[i]}'></script>
{/section}

<script type='text/javascript'>
	{literal}
	$(function() {
		$('#nav > ul > li').hover(function() {
			$('#nav > ul > li > ul').hide();
			if($('ul',this).length==0) return;
			$(this).addClass('dirty');
			$('ul',this).show();
			},function() {
			$(this).removeClass('dirty');
			var newobj=$(this);
			setTimeout(function() {if($(newobj).hasClass('dirty')) return;
				$('ul',newobj).hide();},200);
			if($('ul',this).length==0) return;
		});

		//$('#nav > ul > li > ul').hover(function() {
		//		$(this).addClass('dirty');		
		//		}, function() {
		//		$(this).removeClass('dirty');
				//var newobj=$(this);
				//setTimeout(function() {if($(newobj).hasClass('dirty')) return;
				//$(newobj).hide();},1000);
		//});
	});

function checkclose(obj) {
	alert(obj);
	return;
	if($(obj).hasClass('dirty')) return;
	$(obj).hide();
}
	{/literal}
</script>

{if isset($custom_styles)}
<style>
	{section name=j loop=$custom_styles}
	{$custom_styles[j]}

	{/section}
</style>
{/if}

</head>
<body>
	<div id='ahead'>
		<div class='right topmenu'>
			<p><a href='{url}'><img src='{$png_dir}admin_home.png' style='border: none;' /></a> <a href='{url mod='auth' method='logout'}'><img src='{$png_dir}admin_logout.png' style='border: none;' alt='Logout' /></a></p>
		</div>
		<h1><img src='{$png_dir}admin_admin.png' alt='Administration' /></h1>
	</div>
	<div id='nav'>
		<ul>
			{foreach from=$adminmenu item=b key=a}
			<li><a href='{aurl mod=$a method='default_method'}'>{$b.name}</a>
			{if count($b.menu)}
			<ul>
			{foreach from=$b.menu item=j}
			<li><a href='{aurl mod=$j.mod method=$j.method}'>{$j.menu}</a></li>
			{/foreach}
			</ul>
			{/if}
			</li>
			{/foreach}
		</ul>
	</div>
	<div id='fullcont'>{$fullcont}</div>
</body>
</html>
