<div>
	<h1>Settings</h1>
	<form method='post' action='#'>
		<table>
			{foreach item=v from=$config_settings}
			<tr>
				<td>{$v.key}</td>
				<td>
					{if $v.type=='bool'}
					<input type='radio' name='{$v.key}' value='1'{if $v.value==1} checked='checked'{/if} /> Yes <input type='radio' name='{$v.key}' value='0'{if $v.value==0} checked='checked'{/if} /> No
					{else}
					<input type='text' name='{$v.key}' value='{$v.value|escape}' />
					{/if}
				</td>
			</tr>
			{/foreach}
		</table>
		<input type='submit' value='Save' />
	</form>
</div>
