<link rel="stylesheet" type="text/css" href="{$stylesheet}" />

{foreach from=$styles item=a}
<link rel='stylesheet' type='text/css' href='{$a}' />
{/foreach}

{section name=i loop=$scripts}
<script type='text/javascript' src='{$scripts[i]}'></script>
{/section}

{if isset($custom_styles)}
<style>
	{section name=j loop=$custom_styles}
	{$custom_styles[j]}

	{/section}
</style>
{/if}

<script type='text/javascript'>
{literal}
$(function() {
		{/literal}{if smarty_has_access('cms_edit')}{literal}
		$('.cms_block_editable').hover(function() {
				var link='{/literal}{aurl mod='cms' method='edit'}/{literal}';
				$(this).append('<div class="edit-box"><a href="'+link+$(this).attr('rel')+'">Edit</a></div>');
		},function() {
				$('.edit-box',this).remove();
		});
		{/literal}{/if}{literal}
});
{/literal}
</script>