/* Universal Store Rules */
.store-category h2{
	font-size: 130%;
}

.store-item-title{
	font-size: 120%;
}

.store-item-price h3{
	font-size: 100%;
	font-weight: bold;
}

/* Category Item List View */

.item-box { 
	clear: both;
	margin: 0 -3px 10px 0;
	padding: 2px 2px 2px 2px; 
}

.item-list {
	border: 1px solid #000;
	float: left;
	height: 140px;
	margin: 3px 3px 3px 0;	
	padding:  0 5px 0 5px;
	text-align: center;
	width: 128px;
}

.item-list-image {
	border: 0px solid #000;
	font-size: 50px; /* Half of height, for IE */ 
	height: 100px;
	line-height: 95px; /* Overflows slightly if set to 100px */
	text-align: center;
}

.item-list>/**/div {
	font-size: 10px;
}

.item-list-image img{
	display: inline;
	vertical-align: middle;
}

.item-list-link{
	color: #000;
	font-size: 80%;
	font-weight: bolder;
	text-decoration: none;
}


/* Subcategory List View */

.subcategory-box { 
	clear: both;
	margin: 0 -3px 10px 0;
	padding: 2px 2px 2px 2px; 
}

.category-list {
	border: 1px solid #000;
	float: left;
	height: 140px;
	margin: 3px 3px 3px 0;	
	padding:  0 5px 0 5px;
	text-align: center;
	width: 128px;
}

.category-list-image {
	border: 0px solid #000;
	font-size: 50px; /* Half of height, for IE */ 
	height: 100px;
	line-height: 95px; /* Overflows slightly if set to 100px */
	text-align: center;
}

.category-list>/**/div {
	font-size: 10px;
}

.category-list-image img{
	display: inline;
	vertical-align: middle;
}

.category-list-link{
	color: #000;
	font-size: 80%;
	font-weight: bolder;
	text-decoration: none;
}

/* Category as Item Rows */
.store-item-row{
	clear: both;	
}

.store-item-row-image{
	width: 210px;	
	float: left;
	margin-bottom: 20px;
	min-height: 100px;
	height: 100px;
	height: auto !important;
}

.store-item-row-info{
	float: left;
	margin-bottom: 20px;
}

/* Misc Store Display */
.trail{
	margin: 5px 0 15px 0;
}
