
  <div id="navbar-wrapper">
    <div id="navbar">
      <a href="/"><img src="/images/logo.png" /></a>
      <div id="playerNav">&nbsp;</div>
    </div>
  </div>

  <div style="clear:both"></div> 
  
  <div style="font-size:28px; color:#fff; text-align:center;">
    Please type the passcode into the URL above.
    <br/>
    Example: /passcode/1234
  </div>"

